<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.bostoenapk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="17" />
    <application android:icon="@drawable/logorenben" android:label="Ren2BEN" android:theme="@style/ThemeBostoen" >
        <activity android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateHidden"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EnqueteActivity"
            android:theme="@style/ThemeBostoen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.InstellingenActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
    </application>
</manifest>